include mixins/_rating
include mixins/_cost

mixin barCard(bar = {})
    .bar
      .row
        .col-xs-4
          img(src=`/uploads/${bar.photo || 'bar.png'}`)
        .col-xs-8
          h2.title
            a(href=`/bar/${bar.slug}`) #{bar.name}
          +rating(bar.rating)
          +cost(bar.cost)
        .bar__hero
            .bar__actions
                .bar__action.bar__action--edit
                    a(href=`/bars/${store._id}/edit`)
                        != h.icon('pencil') || 'edit'
            img(src=`/uploads/${store.photo || 'bar.png'}`)
            h2.title
                a(href=`/bar/${bar.slug}`) #{bar.name}
        .bar__details
            p= bar.description.split(' ').slice(0, 25).join(' ')